.menutobottompbar{
    background-color: #343A40;
    height: 100%;
    color: white;
}

.menutopbar{
    background-color: #131619;
}


.menuicon1{
    color: black;
}

.menuicon2{
    color: white;
}
