
.menutobottompbar{
    background-color: #343A40;
    height: 100%;
    color: white;
}

.menutopbar{
    background-color: #131619;
}


.menuicon1{
    color: black;
    
}

.menuicon2{
    color: white;
}

.appear7{
    color: white;
}

.rightcorner{
    display: flex;
    justify-content: flex-end;
    column-gap: 10px;
    padding-right: 20px;
}


.leftcorner{
    display: flex;
    column-gap: 10px;
    margin-top: 05px;
}


.endButton{
    border: solid #E1E5ED 1px;
    width: 45px!important;
    height: 40px!important;
    border-radius: 6px;
}

.StarIcon{
    margin-top: 8px;
    color: #BFBFBF;
}

.StarIcon:hover{
    color: #FDC414;
}


.AddIcon{
    margin-top: 2px;
    border: solid #E1E5ED 1px;
    width: 45px!important;
    height: 40px!important;
    border-radius: 6px;
    padding: 5px;
    background: #007BFF;
    color: white;
}

.CachedIcon,
.BorderAllIcon,
.WidgetsIcon{
    margin-top: 2px;
    border: solid #E1E5ED 1px;
    width: 45px!important;
    height: 40px!important;
    border-radius: 6px;
    padding: 5px;
}

.SearchIconWrapper{
    border: solid #E1E5ED 1px;
}

.required{
    text-align: end;
    color: black;
}

.asterisk{
    color: red;
}

.dragdrop{
    height: 50px;
    width: auto;
    line-height: 2.0;
    padding-left: 10px;
    color: black;
    background: #D1ECF1;
    border-radius: 12px;
    padding-top: 8px;
    margin: 24px!important;
}

.leftborder{
    border: solid 1px  #E0E0E0;
}

.categories{
    background: #F5F6FA;
}

.category{
    width: 25px!important;
    height: 25px!important;
    margin-left: 10px;
}

.defaultCollapseIcon{
    width: 25px!important;
    height: 25px!important;
    border: solid 1px black;
    margin-right: 5px;
}

.defaultExpandIcon{
    width: 25px!important;
    height: 25px!important;
    border: solid 1px black;
    margin: 0 5px;
}

.Icon{
    margin: 5px;
}

